Email_validation_Flow_1.json
{
  "name": "Email validation Flow 1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1BHXVsvq-AWDJQt79OzAVmmRhKG7iExtEPtFP_GmkfMU",
          "mode": "list",
          "cachedResultName": "Email Verification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BHXVsvq-AWDJQt79OzAVmmRhKG7iExtEPtFP_GmkfMU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BHXVsvq-AWDJQt79OzAVmmRhKG7iExtEPtFP_GmkfMU/edit#gid=0"
        },
        "event": "rowUpdate",
        "includeInOutput": "old",
        "options": {
          "columnsToWatch": [
            "Email"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1660,
        -1020
      ],
      "id": "1dbc2935-e5a7-45dc-823f-8a872dd88aa0",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "BUn3N6HNBJaFkXA0",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email'] }}",
        "subject": "Thank You For Enquiry",
        "emailType": "text",
        "message": "=  {{ $json['Message'] }}",
        "options": {
          "senderName": "Derik Groups"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1080,
        -1040
      ],
      "id": "0d257f1c-00c1-453a-bc48-09493e01697e",
      "name": "Gmail",
      "webhookId": "642dbefb-bb0c-42ed-999d-5184d8b34389",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "L0J6x2YRruCGSh5a",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba78f5f1-3c38-47f9-acea-94ae92f6ef67",
              "name": "Email",
              "value": "={{ $('Google Sheets Trigger').item.json.Email }}",
              "type": "string"
            },
            {
              "id": "e9542f29-952e-4d5d-a90f-cf5d6de731c9",
              "name": "Status",
              "value": "=Validation Mail Send",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        -1040
      ],
      "id": "06eac00f-23dd-4326-96d6-83aa531ad90b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BHXVsvq-AWDJQt79OzAVmmRhKG7iExtEPtFP_GmkfMU",
          "mode": "list",
          "cachedResultName": "Email Verification",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BHXVsvq-AWDJQt79OzAVmmRhKG7iExtEPtFP_GmkfMU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BHXVsvq-AWDJQt79OzAVmmRhKG7iExtEPtFP_GmkfMU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.Status }}",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -560,
        -1040
      ],
      "id": "2e6015d3-52fe-4dd4-ba09-9e601045255a",
      "name": "Google Sheets",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ixK7bk1WBBixRy1y",
          "name": "Google Sheets account 9"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a1f8d96-e32a-45b9-b9ff-b3ee23c76926",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1380,
        -1020
      ],
      "id": "a16d18eb-ac92-458e-885c-e6a008b1b18e",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab86afa1-7307-4fd9-a701-2134ce45e61e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64237e6ed13c22ceb7a488287299c49e2fbd0267120ba648886448008c00a817"
  },
  "id": "RaVtqcNddipNRJ3S",
  "tags": []
}