HYUNDAI 2.json
{
  "name": "HYUNDAI 2",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        20,
        120
      ],
      "id": "b3b727da-682a-4acf-9ad8-974ecbb66cd0",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb771039-b50d-4a78-9a0d-8b33bda331da",
              "name": "=prompt",
              "value": "=How does the  {{ $json[\"Model\"] }}- {{$json[\"Varient\"]}}- {{$json[\"BRAND\"]}} compare with other cars in the same category?. Format output using HTML like this:<br><ul><li><b>Feature 1</li></b></br><li><b>Feature 2</li></b></br><li><b>Feature 3</li></b></br></ul>Do not use *,numbers,or dashes. Use <ul><li> for bullet formatting and <b> for bold heading",
              "type": "string"
            },
            {
              "id": "4ffff644-928a-4594-aa52-9e29fe367f52",
              "name": "offer",
              "value": "={{$json[\"OfferImage\"]}}",
              "type": "string"
            },
            {
              "id": "88ddfdd5-5164-40ed-98b1-980f084d75a2",
              "name": "Name",
              "value": "={{ $json[\"Name\"] }}",
              "type": "string"
            },
            {
              "id": "707cb38e-8598-49a4-b5c6-bc1635bdb38a",
              "name": "variant",
              "value": "={{ $json[\"Varient\"] }}",
              "type": "string"
            },
            {
              "id": "94bfb8e9-4149-46d3-8faa-845efc3fb286",
              "name": "Brand",
              "value": "={{ $json[\"BRAND\"] }}",
              "type": "string"
            },
            {
              "id": "919526a0-f4a3-4e09-9e5f-3ec7f6149243",
              "name": "mail",
              "value": "={{ $json[\"Email\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -160
      ],
      "id": "03f1207d-72fd-4799-8e59-e1a3b8ffdeb1",
      "name": "set node for gemini",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyDcJ84I4pbaP1EI42vw2Xwro5y8x1xadn4 ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"contents\":[\n{\n\"role\":\"user\",\n\"parts\":[\n{\n\"text\":\"{{$json[\"prompt\"]}}\"\n}\n]\n}\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -160
      ],
      "id": "2d26ac15-7da7-4ba5-9422-8e0cd587bde8",
      "name": "HTTP Request gemini",
      "retryOnFail": false,
      "maxTries": 2,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59e44e3e-2704-4597-8fe8-ee50b6eff324",
              "name": "message",
              "value": "= Dear valued customer ,\nIt was a pleasure having you visit our showroom! we hope you enjoyed exploring our range of vehicles.\n\n\n{{ $json[\"candidates\"] [0] [\"content\"] [\"parts\"] [0] [\"text\"].replace(/\\n/g,\"<br><br>\")}}\n\n\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -160
      ],
      "id": "d51391d2-6099-4077-86f6-94c830abf990",
      "name": "Mail set node",
      "executeOnce": false
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"MAIL\"] }}",
        "subject": "=Here are some of the standout features of the  {{$json[\"MODEL\"]}} - {{ $json[\"VARIANT\"] }} -{{ $json[\"BRAND\"] }} that we believe you'll appreciate.",
        "message": "={{ $json[\"message\"] }}<br><br>\nYour Exclusive Offer<br><br> <img src=\"{{ $json[\"OfferImage\"]  }}\"alt=\"Car offer\" width=\"400\"><br><br>\n\nThank You for your time!\n\n\n\n\n\nWarm Regards,\nTeam Derik\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        120
      ],
      "id": "7096023a-c042-4162-a8a0-e9283884e21d",
      "name": "Gmail (send msg)",
      "webhookId": "74e6f204-df73-4592-babd-da66dcad1130",
      "credentials": {
        "gmailOAuth2": {
          "id": "yHiXMwmOSP49VtOo",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1vxb5GiJOkRhOlaWX4JAp8sHhP02WIvu0HcHOfMrbplQ/edit?gid=1347181405#gid=1347181405",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1347181405,
          "mode": "list",
          "cachedResultName": "HONDA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vxb5GiJOkRhOlaWX4JAp8sHhP02WIvu0HcHOfMrbplQ/edit#gid=1347181405"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -180,
        -160
      ],
      "id": "8b2edb5d-bd06-4f95-875f-fe93bc4abbb5",
      "name": "Testing Sheet",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pGXHT3Biww9Q6gPW",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        -160
      ],
      "id": "99c3db56-12b8-4327-9627-65e24ac54ec1",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Gmail (send msg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set node for gemini": {
      "main": [
        [
          {
            "node": "HTTP Request gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request gemini": {
      "main": [
        [
          {
            "node": "Mail set node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail set node": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testing Sheet": {
      "main": [
        [
          {
            "node": "set node for gemini",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Testing Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83de22ab-4494-4090-bfec-fdad524e169b",
  "meta": {
    "instanceId": "76c6092dd93a033c9847e2e8207d6546750d4825e60858fe5442b38806941b04"
  },
  "id": "Ij4QaXYCwCCXCuRO",
  "tags": []
}